.main {
    display: flex;
    flex-direction: column;
    margin:200px 200px 200px 200px;
    font-size: 20px;
}

.input {
    margin: 20px 0px 0px 0px;
    height:40px;
    font-size: 20px;
}

.button {
    height:30px;
    margin-top:20px;
    font-size: 15px;
}

.bottom {
    text-align: center;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}